.intro-container{
  display: flex;
  flex-direction: column;
  @include respond-to(small) {
    flex-direction: row;
    }
  }
.intro-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond-to(small) {
    height: 100vh;
  }
  flex-grow: 1;
  filter: grayscale(70%);
  transition: flex-grow .5s ease, filter .7s ease;
  &:hover {
    flex-grow: 2;
    filter: grayscale(0%);
  }
  &--tunes{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/109491/tunes.jpg');
  }
  &--ties{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/109491/ties.jpg');
  }
  &--writing{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/109491/writing.jpg');
  }
  &__header{
    color: white;
    margin-bottom: 0;
  }
  &__sub-header{
    color: white;
  }
  &__link{
    text-decoration: none;
    text-align: center;
    position: relative;
    &:hover{
      &:after{
        font-family: FontAwesome;
        content:  "\f061";
        color: white;
        position: absolute;
        bottom: 33%;
        right: -20px;
        animation: slide .2s ease;
      }
    }
  }
}
